<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('templates/header', {user: user, titulo: 'Bienvenida' }); %>
    
</head>

<body>

    <%- include('templates/navbar', {user: user }); %>

    <div class="container mt-3">
        <h1>Bienvenido al Sistema - Administrador</h1>
    </div>

</body>

</html>